/* CSS 작성 */
.wrap {
  display: inline-flex;
  padding: 100px 579px 242px 321px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

header img {
  width: 176px;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 48px;
}


/* 텍스트 나란치 배치 */
.subject {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section h3 {
  display: inline;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

section span {
  font-size: initial;
  padding-right: 5px;
  color: var(--color-gray500);
  width: 2px;
  height: 20px;
}

section p {
  display: inline;
  color: var(--color-gray500);
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  padding: 5px 0;
}



/* 이미지 컨테이너 */
.container {
  display: flex;
  width: 1023px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.fir-items,
.sec-items,
.thi-items {
  width: 100%;
  height: 310px;
}

.fir-items img:not(:nth-child(1)) {
  width: 446px;
  height: 270px;
  flex-shrink: 0;
  margin: 20px 28px;
}

.fir-items .img-box {
  float: left;
}

.fir-items .img-box:first-child,
.fir-items .img-box:last-child {
  position: relative;
  width: 500px;
  height: 310px;
}

.sec-items .img-box {
  float: left;
  position: relative;
  width: 243px;
  height: 310px;
}

.sec-items .item-img,
.thi-items img:not(.item-img1) {
  width: 195px;
  height: 282px;
  margin: 14px 25px 14px 23px;
}

.thi-items .img-box {
  float: left;
  position: relative;
}

.thi-items .item-img1 {
  width: 446px;
  height: 270px;
  margin: 20px 28px;
}


.thi-items .img-box:nth-of-type(1) {
  width: 502px;
  height: 310px;
}

.thi-items .img-box:nth-of-type(2),
.thi-items .img-box:nth-of-type(3) {
  width: 243px;
  height: 310px;
}


/* 버튼, 테두리 - hover, focus 효과 */
.container .img-box {
  border: 1px solid var(--color-gray100);
}

.container .img-box:hover,
.fir-items .img-box:focus,
.sec-items .img-box:focus,
.thi-items .img-box:focus {
  outline: 1px solid var(--color-blue600);
}



/* 꿀생강차 회색버튼 */
.fir-items .btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--opacity-20);
  width: 42px;
  height: 42px;
  background-image: url("../common/button.svg");
}

/* 회색버튼 */
.fir-items .img-box .btn,
.sec-items .img-box .btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--opacity-20);
  width: 42px;
  height: 42px;
}

.thi-items .img-box .btn {
  position: absolute;
  left: 0px;
  bottom: 0px;

  text-decoration: none;
  color: var(--color-white);
  background-color: var(--opacity-20);
  width: 42px;
  height: 42px;
}


/* 호버시 파랑색 구매하기 버튼 */
.fir-items .img-box span,
.sec-items .img-box span,
.thi-items .img-box span {
  display: none;
}

.fir-items .img-box:hover span,
.sec-items .img-box:hover span,
.thi-items .img-box:hover span,
.fir-items .img-box:focus span,
.sec-items .img-box:focus span,
.thi-items .img-box:focus span {
  width: 112px;
  height: 42px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  color: var(--color-white);
  background: var(--color-blue600);
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 12px 18px 13px 20px;
}

.fir-items .img-box:hover span,
.sec-items .img-box:hover span,
.fir-items .img-box:focus span,
.sec-items .img-box:focus span {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.thi-items .img-box:hover span,
.thi-items .img-box:focus span {
  position: absolute;
  left: 23px;
  bottom: 14px;
}

/* 파랑색버튼에 오른쪽 화살표 붙이기 */
.fir-items .img-box:hover::after,
.sec-items .img-box:hover::after,
.thi-items .img-box:hover::after, 
.fir-items .img-box:focus::after,
.sec-items .img-box:focus::after,
.thi-items .img-box:focus::after {
  content: url("../../assets/icon/angle-right-square.svg");
  margin: 0;
  width: 6px;
  height: 10px;
  color: var(--color-gray100);
  position: absolute;
}

.fir-items .img-box:hover::after,
.sec-items .img-box:hover::after {
  bottom: 44px;
  left: 108px;
}


.thi-items .img-box::after {
  bottom: 38px;
  left: 110px;
}

/* 호버시 회색버튼 숨기기 */
.fir-items .img-box:hover .btn,
.sec-items .img-box:hover .btn,
.thi-items .img-box:hover .btn,
.fir-items .img-box:focus .btn,
.sec-items .img-box:focus .btn,
.thi-items .img-box:focus .btn {
  opacity: 0;
}

/* 포커스 */
/* .fir-items .img-box span,
.sec-items .img-box span,
.thi-items .img-box span {
  display: none;
} */

/* .fir-items .img-box:focus span,
.sec-items .img-box:focus span,
.thi-items .img-box:focus span {
  width: 112px;
  height: 42px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  color: var(--color-white);
  background: var(--color-blue600);
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 12px 18px 13px 20px;
}

.fir-items .img-box:focus span,
.sec-items .img-box:focus span {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.thi-items .img-box:focus span {
  position: absolute;
  left: 23px;
  bottom: 14px;
} */
