/* CSS 작성 */
body {
  border: 1px solid black;
  display: flex;
  width: 1064px;
  height: 918px;
  margin: 0 auto;

}

.wrap {
  border: 1px solid rgb(253, 14, 14);
  width: 1064px;
  height: 855px;
  margin: 0 auto;

}

header img {
  width: 176px;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 48px;

}

/* 텍스트 나란치 배치 */
.subject {
  padding: 5px;
  margin-bottom: 24px;
  vertical-align: middle;
  
}

section h3 {
  display: inline;

  color: var(--Black, #181818);
  text-align: center;
  /* Title/Medium/24 */
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  /* 27.6px */

}

section span {
  font-size: initial;
  padding-right: 5px;
  color: var(--color-lightgray);
  width: 2px;
  height: 20px;
}

section p {
  display: inline;
  color: var(--color-lightgray);


  /* Title/Medium/16 */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  padding: 5px 0;
  /* 18.4px */
}

/* //텍스트 나란치 배치 */



/* 이미지 컨테이너 */
.container {
  border: 1px solid rgb(177, 253, 14);
  width: 100%;
  height: 725px;
  background-color: #ffffb6;
}

.fir-items {
  width: 100%;
  height: 310px;
  background-color: #e75b28;
  margin-bottom: 10px;
  overflow: hidden;


}

.fir-items img {
  width: 502px;
  height: 310px;
  flex-shrink: 0;
}

.img-box {
  position: relative;

}

.fir-items .btn-buy {
  position: absolute;
  left: 5px;
  bottom: -196px;


}

.fir-items a:nth-of-type(1) img {
  padding-right: 10px;

}


.sec-items {
  width: 100%;
  height: 235px;
  background-color: rgb(228, 19, 200);
  margin-bottom: 10px;


}

.sec-items img {
  width: 243px;
  height: 310px;
  flex-shrink: 0;
}

.sec-items img:not(.sec-lastImg) {
  padding-right: 10px;

}

.thi-items {
  width: 100%;
  height: 235px;
  background-color: rgb(105, 236, 162);

}

.thi-items img {
  height: 235px;
  float: left;
}


.thi-items a:nth-of-type(1) img {
  padding-right: 10px;
  width: 100px;

}

.thi-items a:nth-of-type(3) img {
  padding-right: 10px;
  width: 100px;
}

.thi-items a:nth-of-type(5) img {

  width: 100px;
}