/* 기본 글자, 웹폰트 선언 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

}

/* margin, padding */
.mb16 {
  margin-bottom: 16px !important;
}


.mr16 {
  margin-right: 16px !important;
}
