/* color시스템 변수선언 */
:root {
  --color-red: #e52330;
  --color-blue600: #0074E9;
  --color-green: #c7cd1d;
  --color-navy: #181818;
  --color-lightgray: #c4c4c4;
  --color-white: #ffffff;
  --opacity-20: rgba(0, 0, 0, 0.20);
}